<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Menu</title>
</head>
<body>
    <h3>Order Food</h3>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.starter.label }}<br/>
            {{ form.starter }}<br/>
            {% for error in form.starter.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.main_course.label }}<br/>
            {{ form.main_course }}<br/>
            {% for error in form.main_course.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.dessert.label }}<br/>
            {{ form.dessert }}<br/>
            {% for error in form.dessert.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <br>
        <div>{{ form.submit() }}</div>
    </form>


    <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

</body>
</html>