{% extends "base.html" %}

{% block content %}
<h1>Download Multiplication Table</h1>
    <form method="post" action="{{ url_for('display_form_times') }}">
        {{ form.csrf_token() }}
        <div >
            {{ form.base.label(class="form-label") }}
            {{ form.base(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.multiplicand.label(class="form-label") }}
            {{ form.multiplicand(class="form-control") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}