{% extends "base.html" %}

{% block content %}
<h1>Download Example</h1>
<div class="container mb-3">
    <form action="{{ url_for('download_file') }}" method="post">
        {{ form.csrf_token() }}
        {{ form.choice(value='Static') }}
        <button class="btn btn-primary" type="submit">Download Static File</button>
    </form>
</div>
<div class="container mb-3">
    <form action="{{ url_for('download_file') }}" method="post">
        {{ form.csrf_token() }}
        {{ form.choice(value='Dynamic') }}
        <button class="btn btn-primary" type="submit">Download Dynamic File</button>
    </form>
</div>
{% endblock %}
