{% extends "base.html" %}


{% block content %}
    <div class="container">
        <h1>Here is the list </h1>
        {% for item in my_list %}
            <ul>
                <li>{{ item }}
                <form action="{{ url_for('delete_item') }}" method="POST">
                    {{ form.csrf_token() }}
                    {{ form.choice(value=loop.index0) }}
                    <button class="btn" type="submit">
                        <i class="bi bi-trash3"></i>
                    </button>

                </form>
                </li>
            </ul>

        {% endfor %}

        <form action="{{ url_for('reset_items') }}" method="POST">
                    {{ form.csrf_token() }}
                    <button class="btn" type="submit">
                        <i class="bi bi-arrow-repeat"></i>
                    </button>

                </form>
    </div>
{% endblock %}
